---
---
/**********************************************

  Style customization. Feel free to adapt.

**********************************************/

/**
  Fonts
*/
.normaltext {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}
@media (min-width: 38em) { .normaltext { font-size: 22px; } }
.monotext { font-family: "Courier New", courier, monospace; }
html, input, textarea, select, button { @extend .normaltext; }
tt, code { @extend .monotext; }

/**
  Global styling.
*/
body {
    background-color: #fff;
    padding-left: 20px;
    line-height: 1.2;
}
footer {
    margin-left: -20px;
    font-size: smaller;
}
ul.menu {
    margin-top: 1em;
    margin-bottom: 1em;
}
ul.submenu {
    border-radius: 4px;
    box-shadow: 1px 1px 1px #555;
}
a {
    color: #268bd2;
    text-decoration: none;
    &:hover, &:focus { text-decoration: underline }
}

/**
  Main content body.
*/
.main {
    p, ul, ol, q, blockquote, caption, figcaption { text-align: justify; }
    p, q, blockquote, table, figure, ul, ol, dl, pre { margin-bottom: 0.5em; }
    
    /* Blocks */
    h1, h2, h3, h4, h5, h6 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
	font-weight: bold;
    }
    h1, h2 { margin-left: -20px }
    h1 {
	font-size: 2em;
	.subtitle {
	    font-size: 0.5em;
	    color: #999;
	}
    }
    h2 {
	margin-top: 1em;
	font-size: 1.5em;
    }
    h3 { font-size: 1.25em; }
    h4 { font-size: 1.1em; }
    blockquote > :last-child {
	margin-bottom: 0;
    }

    /* Lists */
    ul, ol, dd { padding-left: 1.5em; }
    ul {
	list-style-type: circle;
	ul {
	    list-style-type: '□  ';
	    ul {
		list-style-type: '–  ';
	    }
	}
    }
    ol {
	list-style-type: decimal;
	ol {
	    list-style-type: upper-alpha;
	    ol {
		list-style-type: lower-alpha;
	    }
	}
    }
    dt { font-weight: bold; }

    /* Tables */
    td, th { padding: 1ex; }

    /* Pre-formatted blocks */
    pre {
	clear: both;
	background-color: #eee;
	border-radius: 4px;
	border: solid thin #aaa;
	padding-left: 2ex;
	overflow-x: auto;
    }

    /* Inline style */
    em { font-style: italic; }
    strong { font-weight: bold; }
    big { font-size: larger; }
    sup, sub, small { font-size: smaller; }
    sup { vertical-align: super; }
    sub { vertical-align: sub; }
    :not(pre) > code { color: #d00; }

    /* Horrible hack, waiting for CSS3 text-decoration */
    a code, code a {
	border-bottom: dashed thin blue;
	&:hover { border-bottom: none; }
    }

    /* Footnotes (kramdown feature) */
    .footnotesize { font-size: 0.8em; }
    .footnote {
	@extend .footnotesize;
	font-size: small;
	&::before { content: '[' }
	&::after  { content: ']' }
    }
    .footnotes {
	@extend .footnotesize;
	margin-top: 2em;
	&::before {
	    border-top: solid thin #888;
	    width: 5em;
	    display: block;
	    content: '';
	}
    }
}

/**
  Print style and helpers
*/
@media print {
    body { font-size: 9pt }
    .dont-print { display: none }
    a.print-link:after { content: " <" attr(href) ">" }
    h1, h2, h3, h4 { page-break-after: avoid }
    .force-page-break { page-break-after: always }
    pre, table, figure { page-break-inside: avoid }
    .allow-breaks { page-break-inside: auto }
}
